



.header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:56px;
    position:fixed;
    background-color: white;
    top:0;
    left:0;
    right:0;
    z-index:100;
    border-bottom-color:rgb(239, 239, 239);
    border-bottom-style: solid;
    border-bottom-width: 1px;
   }
   .left{
    margin-right: 60px;
    display:flex;
    align-items: center;
   }
   .hamburger-icon{
    height:24px;
    margin-left: 24px;
    margin-right: 24px;
    cursor: pointer;
   }
   .youtube-logo-icon{
    height:20px;
    cursor: pointer;
   }
   .middle{
    flex:1;
    display:flex;
    align-items: center;
    max-width: 470px;
   }
   .search-bar{
    height:36px;
    font-size: 16px;
    padding-left: 12px;
    letter-spacing: 0.5px;
    border-color: rgb(202, 202, 202);
    border-style: solid;
    border-width: 1px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    box-shadow: inset 0px 1px 2px rgba( 0, 0, 0, 0.05);
    width:0;
    flex:1;
   }
   .searchbar::placeholder{
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
   }
   .search-button{
    background-color: rgb(247, 247, 247);
    width:64px;
    height:40px;
    border-color: rgb(202, 202, 202);
    border-style: solid;
    border-width: 1px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-left: none;
    padding:1px 6px;
    margin-right: 8px;
    cursor: pointer;
   }
   .search-icon{
    height:24px;
    padding:1px 6px;
   }
   .voice-search-button{
    width:40px;
    height:40px;
    border:none;
    background-color: rgb(247, 247, 247);
    border-radius: 50%;
    cursor: pointer;
   }
   .voice-search-icon{
    height:24px;
   }
   .right{
    width:182px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 24px;
    margin-left: 29px;
    flex-shrink: 0;
   }

   .upload-icon{
    height:24px;
    cursor: pointer;
   }
   .youtube-apps-icon{
    height:24px;
    cursor: pointer;
   }
   .notifications-icon{
    height:24px;
    cursor: pointer;
   }
   .channel-picture-icon{
    height:32px;
    border-radius:50%;
    cursor: pointer;
   }


.notifications-container{
    position:relative;
}
.count{
    position:absolute;
    top:0px;
    right: -4px;
    padding:1px 5px;
    background-color: rgb(210, 5, 5);
    border-radius: 50%;
    font-size: 10px;
    font-family: Roboto,Arial;
    color:white;
}











