
.thumbnail-row{
    position:relative;
}
.thumbnail{
    width:100%;
}
.channel-picture{
    width:36px;
    height:36px;
    border-radius:50%;
    object-fit: cover;
    margin-top:10px;
    
    
}
.title{
    font-size: 14px;
    font-weight:500;
    line-height:20px;
    margin-top: 10px;
}
.author{
    font-size:12px;
    margin-top:8px;
    color:rgb(112, 112, 112);
    margin-bottom: 4px;
    letter-spacing: 0.3px;
}
.stats{
    font-size: 12px;
    margin-bottom:16px;
    color:grey;
}
.channel-picture-stats{
    display:grid;
    grid-template-columns: 48px 1fr ;
}

.grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap:27px;
    column-gap:16px;
}
@media (max-width:750px) {
    .grid{
        grid-template-columns:1fr 1fr;
    }
}

@media (min-width:1000px) {
    .grid{
        grid-template-columns:1fr 1fr 1fr 1fr;

        }
    }



@media (min-width:751px) and (max-width:999px

) {

    .grid{

        grid-template-columns:1fr 1fr 1fr;
    }
}








